<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Today's Date</title>
</head>

<body>
  <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'>
  </script>
  <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
    <object class='tableauViz' width='1000' height='827' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;fatenasacovid19challenge' /><param name='name' value='Covid19_Foreign_Air_Travel&#47;Covid19ForeignAirTravelDashboard' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' />
    </object>
  </div>
  <https://teams.microsoft.com/l/message/19:8dc43b4c5ebf4b2e9a308b60ca817f1a@thread.tacv2/1590961901667?tenantId=0ee6c63b-4eab-4748-b74a-d1dc22fc1a24&amp;groupId=a66ca985-21dd-4fe2-b1f8-811a0d21ba1f&amp;parentMessageId=1590961901667&amp;teamName=An Integrated Assessment NASA COVID Challenge&amp;channelName=General&amp;createdTime=1590961901667>
</body>

</html>
